@import url('./reset.css');

:root {
	--primary-color: #48cdac;
	--primary-soft-color: #8ee7d1;
	--secondary-color: #efb41f;

	--gray: #666666;
	--black: #0a0a0a;
	--white: #fcffff;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--white);
	color: var(--black);
}

.btn {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 8px;
	font-weight: bold;
	font-size: 20px;
}

.btn:hover {
	background-color: var(--primary-soft-color);
}
