@import url('./reset.css');


:root {
	--primary-color: #48cdac;
    --primary-soft-color: #8EE7D1;
	--secondary-color: #efb41f;

	--gray: #666666;
	--black: #0a0a0a;
	--white: #fcffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
}